directory {

}


.redLableHad{font-size:22px; color:#c61d23;  font-family: fru-tiger-bold; }
.guidBox{text-align: center; max-width: 500px;}
.guidBox p{line-height: 24px;}

.smileBox {padding-top:15px;}
.smileBox img{width:auto;}
.smileBox img{float:left; padding-right:5px;}
.smileBox .padRight{ padding-right:0px;}
.feedbackForm{float:left; padding-top:20px;width:100%}
.feedbackForm textarea{border:1px solid #ccc; border-radius: 5px; background: #f8f6f6; resize:none; width:100%; height:120px;
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
    -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
    box-shadow: inset 2px 2px 2px 0px #dddddd;
    font-weight: normal
}

.survayLink{margin-top:0px!important; font-size: 16px!important;}
.feedbackForm .labText{font-size:17px; color:#444444}
.hadBotSpace{padding-bottom:15px}




