directory {

}


.redLableHad{font-size:22px; color:#c61d23;  font-family: fru-tiger-bold; }
.guidBox{text-align: center; max-width: 500px;}
.guidBox p{line-height: 24px;}
.margTop0{margin-top:0px;}

.guidBox .font20{font-size: 20px;  color: #444; font-family: fru-tiger-roman; margin: 0px;}
.guidBox .redHeading { font-size: 27px; color: #ef3a42; font-family: fru-tiger-bold; margin-top: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;}

.guidBox .font15 { line-height: 20px; font-size: 15px;  color: #444; font-family: fru-tiger-roman;}
.guidBox .btnRedNormal { padding: 20px 50px;}
.textItalic{font-style:italic;}







