directory {

}

.arowBtn{background:none;}
.textBlock{font-size:17px; color:#444444; font-family: fru-tiger-bold;}
.directoryHold .card {position:inherit; padding-bottom: 0px; margin-bottom:10px; }
.directHeading{color:#636466; font-size:18px; font-family: fru-tiger-light; padding-top: 10px; padding-bottom: 10px}

.divSearchHold { height:70px;  margin-bottom:15px;}
.serchOutBox{    
    position: absolute;
  background-color:#bcbec0;
    width: 100%;
    z-index: 99;
    left: 0px;
    padding: 5px;
    }
   .divSearchHold .searchbar-input {padding: 6px 35px;}
    .h3HeadBot0{margin-bottom:0px;}

    .departmentList .upcomingClick{left:17px; padding-bottom: 5px;}
    .departmentList .upcomingDown {left:45%;}
    .departmentList .departHead{ font-family: fru-tiger-bold; font-size:17px; color:#444444}
    .phonRed{color:#ef3a42; font-size:15px; font-family: fru-tiger-light;}
    .departmentList .card{margin-bottom:10px;}

    .menu-inner .toolbar { height: 170px;}