directory {

}

    .departmentList .upcomingClick{left:10px; padding-bottom: 5px;}
    .departmentList .upcomingDown {left:45%;}
    .departmentList .departHead{ font-family: fru-tiger-bold; font-size:17px; color:#444444}
    .phonRed{color:#ef3a42; font-size:15px; font-family: fru-tiger-light;}
    .departmentList .card{margin-bottom:10px;}

    .menu-inner .toolbar { height: 170px;}