togList {

}

.togList h2 { font-size: 17px; color: #444444;  font-family: fru-tiger-bold; overflow: visible; /*line-height: 18px;*/ margin: 5px 0px;}
.togList p { font-family: fru-tiger-roman; font-size: 12px;}
.togList p a {font-size: 11px; color:#2497c6}

.togList .upcomingClick{left:16px; padding-bottom: 7px;}
.togList .upcomingDown {left:45%;}
.togList .departHead{ font-family: fru-tiger-bold; font-size:17px; color:#444444}
.togList .card{margin-bottom:10px;}
.togList .cardDescrip { white-space: normal;}

.shortDescription{max-height:125px; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 6;  -webkit-box-orient: vertical;}
.seeMoreLink { color: #ef3a42!important; font-size: 12px; background: url(../assets/img/detArrow.png) no-repeat 55px 13px; padding-top: 10px;}







