<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointments</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="appointment">



  <div class="">

    <h4 class="appointLable hadTopspace" *ngIf="filterTodayAppointments == 0">Today - No Scheduled Appointments</h4>
    <h4 class="appointLable hadTopspace" *ngIf="filterTodayAppointments != 0">Today</h4>


    <ion-card class="appontCard" *ngFor="let appointment of filterTodayAppointments | orderBy:['appttime']; let i = index">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/thumb.png">
          <!-- <img [src]="{{appointment.doctor.image}}" />-->
        </ion-avatar>
        <ion-label class="cardDescrip">
          <h2>{{appointment.appttime | date: 'MMMM dd, yyyy - hh:mma'}}</h2>
          <p> {{appointment.doctor.name}}</p>
          <p> {{appointment.doctor.title}}</p>
        </ion-label>
        <ion-label item-right class="cardButton">
          <button class="mapRedBtn" (click)="openModal()">Map It</button>
        </ion-label>
      </ion-item>
      <div class="upcomingClick" (click)="collapse($event)" [class.upcomingDown]="i==0"></div>
      <ion-card-content class="wrapBox" [style.display]="i==0 ? 'block': 'none'">
        <div class="togClass">
          <p> <strong>Department:</strong> {{appointment.doctor.dept}} </p>
          <p> <strong>Location:</strong> {{appointment.doctor.location}} </p>
          <p> <strong>Phone:</strong> {{appointment.doctor.phone}} </p>

        </div>
      </ion-card-content>
    </ion-card>


    <h4 class="appointLable hadTopspace" *ngIf="filterUpcomingAppointments == 0">Upcoming - No Scheduled Appointments</h4>
    <h4 class="appointLable hadTopspace" *ngIf="filterUpcomingAppointments != 0">Upcoming</h4>
    <ion-card class="appontCard" *ngFor="let appointment of filterUpcomingAppointments | orderBy:['appttime']">
      <ion-item>
        <ion-avatar item-left>
          <img src="assets/img/thumb.png">
        </ion-avatar>
        <ion-label class="cardDescrip">
          <h2>{{appointment.appttime | date: 'MMMM dd, yyyy - hh:mma'}}</h2>
          <p> {{appointment.doctor.name}}</p>
          <p> {{appointment.doctor.title}}</p>
        </ion-label>
        <ion-label item-right class="cardButton">
          <button class="mapRedBtn" (click)="openModal()">Map It</button>
        </ion-label>
      </ion-item>
      <div class="upcomingClick" (click)="collapse($event)"></div>
      <ion-card-content class="wrapBox">
        <div class="togClass">
          <p> <strong>Department:</strong> {{appointment.doctor.dept}} </p>
          <p> <strong>Location:</strong> {{appointment.doctor.location}} </p>
          <p> <strong>Phone:</strong> {{appointment.doctor.phone}} </p>

        </div>
      </ion-card-content>
    </ion-card>


    <p></p>

  </div>
  <!-- <button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>