<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointments</ion-title>
  </ion-navbar>
</ion-header> 

<ion-content padding class="appointment">

 

  <div class="">
  <h4 class="appointLable">Today</h4>
  

  <ion-card class="appontCard" *ngFor="let doctor of filterDoctors; let i = index">
   <ion-item>
     <ion-avatar item-left>
    <img src="assets/img/thumb.png">
    </ion-avatar>
       <ion-label class="cardDescrip">
      <h2>{{doctor.appointment.appttime}}</h2>
   <p> {{doctor.name}}</p>
    <p> {{doctor.title}}</p>
      </ion-label>
      <ion-label item-right class="cardButton">
    <button class="mapRedBtn" (click)="openModal()">Map It</button>
    </ion-label>
  </ion-item>
  <div class="upcomingClick" (click)="collapse($event)" [class.upcomingDown]="i==0"></div>
  <ion-card-content class="wrapBox" [style.display]="i==0 ? 'block': 'none'">
    <div class="togClass">
    <p> <strong>Department:</strong> {{doctor.dept}} </p>
     <p> <strong>Location:</strong> {{doctor.location}} </p>
       <p> <strong>Phone:</strong> {{doctor.phone}} </p>
      
       </div>
    </ion-card-content>
  </ion-card>



  <h4 class="appointLable hadTopspace">Upcoming</h4>

   <ion-card class="appontCard" *ngFor="let doctor of filterDoctors">
   <ion-item>
     <ion-avatar item-left>
    <img src="assets/img/thumb.png">
    </ion-avatar>
       <ion-label class="cardDescrip">
     <h2>{{doctor.appointment.appttime}}</h2>
   <p> {{doctor.name}}</p>
    <p> {{doctor.title}}</p>
      </ion-label>
      <ion-label item-right class="cardButton">
    <button class="mapRedBtn" (click)="openModal()">Map It</button>
    </ion-label>
  </ion-item>
  <div class="upcomingClick" (click)="collapse($event)"></div>
  <ion-card-content class="wrapBox">
    <div class="togClass">
     <p> <strong>Department:</strong> {{doctor.dept}} </p>
     <p> <strong>Location:</strong> {{doctor.location}} </p>
       <p> <strong>Phone:</strong> {{doctor.phone}} </p>
      
       </div>
    </ion-card-content>
  </ion-card>


<p></p>

</div>
 <!-- <button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
