
.font12{font-family: fru-tiger-roman; color:#636466!important; font-size:12px!important;}
.padTop10{padding-top:10px}
.padTop7{padding-top:7px}

.toggleWraper{width:180px; margin-bottom: 15px;}

.appointPrepWraper ion-segment {border: 1px solid #ef3a42; border-radius: 4px;background: #fff;}
.appointPrepWraper .segment-md .segment-button {
    height: 25px;
    line-height: 25px;
    text-transform:capitalize;
    color: #ef3a42;
    opacity: inherit;
    font-family: fru-tiger-light;    
}
.appointPrepWraper .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
    border-color: transparent;
    opacity: 1;
    background: #ef3a42;
    color: #fff;
}
.appointPrepWraper .segment-ios .segment-button.segment-activated { background-color: #ef3a42; color: #fff;}
.appointPrepWraper .segment-ios .segment-button {
    height: 25px;
    line-height: 25px;
    border-width: 0px;
    color: #ef3a42;
    opacity: inherit;
    font-family: fru-tiger-light;    
}
.appointPrepWraper .item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner{background-image:none;}

.appointPrepWraper .item-md { padding-left: 6px; font-size: 12px;}
.appointPrepWraper .item-block{min-height:30px;}
.appointPrepWraper .item-md ion-icon[item-left], .item-md ion-icon[item-right] { margin-top: 3px; margin-bottom: 3px;}
.appointPrepWraper .label-md { margin: 3px 8px 3px 0; font-family: fru-tiger-roman; color:#444}
.appointPrepWraper .item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input { margin-left: 0px;}
.appointPrepWraper ion-label{white-space: normal; overflow: visible;}

.headingWraper{width:100%; float:left;}
.prepWhtBox{background: #fff; border-radius: 4px;  width: 100%; float: left; padding: 2px 0px; box-shadow: 0px 1px 10px #ccc; margin-bottom:10px;}
.prepWhtBox .dataLast .item-inner{border-bottom:0px;} 
.textComment textarea {width:100%; margin-top:10px; border-color:#ddd;}


/* css for Add Question Crad*/
.prepAddQuestion .card{margin-bottom: 0px; padding-bottom: 10px; border-radius: 4px; box-shadow: 0px 1px 10px #ccc;}
.prepAddQuestion .togClass { padding-bottom: 0px;}
.prepAddQuestion .cardClick{position:absolute; top:10px; background: url('../assets/img/togPlus.png') no-repeat 0px 0px; left:10px; width: 100%; cursor:pointer;}
.prepAddQuestion .cardClick:before {  content: "Add your own questions"; font-family: fru-tiger-roman; color:#444; font-size:12px; width:100%; padding-left: 27px; line-height: 22px;}
.prepAddQuestion .cardClickDown{position:absolute; top:10px; left:10px; background: url('../assets/img/togMinus.png') no-repeat 0 0; width: 100%; cursor:pointer; }
.prepAddQuestion .cardClickDown:before{ content: "Add your own questions"; font-family: fru-tiger-roman; color:#444; font-size:12px; width:100%; padding-left: 27px; line-height: 22px;}
.prepAddQuestion .btnRedNormal { height:30px; padding: 10px 20px; font-size: 14px;}

/* css for Procedure Planning Crad*/
.prepPPCard{margin-top:10px;}
.prepPPCard .card{margin-bottom: 0px; padding-bottom: 10px; border-radius: 4px; box-shadow: 0px 1px 10px #ccc;}
.prepPPCard .togClass { padding-bottom: 0px;}
.prepPPCard .cardClick{position:absolute; top:10px; background: url('../assets/img/arrowDown.png') no-repeat right 5px; left:0px; right:10px; cursor:pointer;}
.prepPPCard .cardClick:before {  content: "Procedure Planning"; font-family: fru-tiger-roman; color:#444; font-size:18px;  padding-left: 12px; line-height: 22px;}
.prepPPCard .cardClickDown{position:absolute; top:10px; left:0px; background: url('../assets/img/arrowUp.png') no-repeat right 5px; right:10px; cursor:pointer; }
.prepPPCard .cardClickDown:before{ content: "Procedure Planning"; font-family: fru-tiger-roman; color:#444; font-size:18px; padding-left: 12px; line-height: 22px;}

.prepPPCard .item.item-md .checkbox-md { margin: 9px 10px 9px 0px;}
.prepPPCard .checkbox-md-danger .checkbox-checked {border-radius: 10px;}
.prepPPCard .checkbox-md .checkbox-icon {border-radius: 10px;}

.prepPPCard .wrapBox .item-inner { border-bottom: 1px solid #dedede!important;}
.prepPPCard .wrapBox .item-md { padding-left: 0px; }
.prepPPCard .wrapBox {padding:10px 0px 0px 13px}
.prepPPCard .bodBottom{ border-bottom: 1px solid #ddd; padding-bottom: 10px;}
.prepPPCard .wrapBox .item-md.item-checkbox-disabled ion-label { opacity:inherit; }
.noLastBoder { border-bottom:0px solid!important;}







