<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointment Prep</ion-title>
  </ion-navbar>
</ion-header>
<div class="peopleLoadBoxHold"> 
<div class="peopleLoadBox"></div></div>
<ion-content padding class="appointPrepWraper">
    
<div class="toggleWraper">
    <ion-segment [(ngModel)]="prep">
    <ion-segment-button value="seeAll">
      See All
    </ion-segment-button>
    <ion-segment-button value="seeStar">
      See Starred
    </ion-segment-button>
  </ion-segment>
 </div>

<div [ngSwitch]="prep">
  <ion-list *ngSwitchCase="'seeAll'">

<div class="headingWraper"> 
   <div class="pull-left"> <h4 class="appointLable">Diagnosis</h4></div>
   <div class="pull-right redLink"><a href="#">Clear All</a></div>
</div>

<!-- Card for Diagnosis-->
<div class="prepWhtBox lastBoder">
 <button ion-item *ngFor="let appointmentPrep of diagnosisData">
    <ion-icon item-left><img src="{{appointmentPrep.imgPath}}"></ion-icon>
   {{appointmentPrep.title}}
  </button>
  </div>

<div class="headingWraper padTop10"><h4 class="appointLable">Treatment</h4></div>

<!-- Card for Treatment-->
<div class="prepWhtBox lastBoder1">
   <button ion-item *ngFor="let appointmentPrep of treatmentData">
    <ion-icon item-left><img src="{{appointmentPrep.imgPath}}"></ion-icon>
   {{appointmentPrep.title}}
    </button>
  </div>

<!-- <button ion-item> <ion-icon item-left><img src="assets/img/blank-star.png"></ion-icon> treatment options? </button>-->

<!-- Card for Add Questions -->
<div class="prepAddQuestion">
  <ion-card >
    <ion-item>
      <ion-label class="textBlock"></ion-label>
    </ion-item>
    <div class="cardClick" (click)="collapse($event)"></div>
  <ion-card-content class="wrapBox">
      <div class="togClass">
       <p class="textComment"><textarea rows="4"></textarea> </p>
       <p class="pull-right"> <button ion-button class="btnRedNormal">Submit</button></p>
       </div>
   </ion-card-content>
  </ion-card>
</div>

<!-- Card for Procedure Planing -->
<div class="prepPPCard">
  <ion-card>
    <ion-item>
      <ion-label class="textBlock"></ion-label>
    </ion-item>
    <div class="cardClick" (click)="collapse($event)"></div>
  <ion-card-content class="wrapBox">
      <div class="togClass">
       <p class="font12 bodBottom">If you need a procedure, make sure you can answer these questions </p>
       
<ion-item  *ngFor="let appointmentPrep of dataProPlaning">
  <ion-label> {{appointmentPrep.title}}</ion-label>
  <ion-checkbox color="danger" checked="false"></ion-checkbox>
</ion-item>

   <p class="padTop7 redLink"><a href="#">See more procedure planning resources.</a></p>
</div>
   </ion-card-content>
  </ion-card>
</div>


  </ion-list>

  <ion-list *ngSwitchCase="'seeStar'">

 
<div class="headingWraper"> 
   <div class="pull-left"> <h4 class="appointLable">Diagnosis</h4></div>
   <div class="pull-right redLink"><a href="#">Clear All</a></div>
</div>
<div class="prepWhtBox">
 <button ion-item>
    <ion-icon item-left><img src="assets/img/fill-star.png"></ion-icon>
    What is the diagnosis? 
  </button>
   <button ion-item>
    <ion-icon item-left><img src="assets/img/fill-star.png"></ion-icon>
    What caused the disease or condition?
  </button>
   <button ion-item class="dataLast">
    <ion-icon item-left><img src="assets/img/fill-star.png"></ion-icon>
    How will it affect my home and work life?
  </button>
 </div>

 <div class="headingWraper padTop10"> 
<h4 class="appointLable">Treatment</h4>
</div>

<div class="prepWhtBox">
 <button ion-item>
    <ion-icon item-left><img src="assets/img/fill-star.png"></ion-icon>
   What are my treatment options? 
  </button>
   <button ion-item>
    <ion-icon item-left><img src="assets/img/fill-star.png"></ion-icon>
   How long will the treatment take?
  </button>
   <button ion-item>
    <ion-icon item-left><img src="assets/img/fill-star.png"></ion-icon>
   How will it affect my home and work life?
  </button>
   <button ion-item class="dataLast">
    <ion-icon item-left><img src="assets/img/fill-star.png"></ion-icon>
   What is the short-term and long-term prognosis for my disease or condition? 
  </button>
 </div>

 <div class="prepPPCard">
  <ion-card>
    <ion-item>
      <ion-label class="textBlock"></ion-label>
    </ion-item>
    <div class="cardClick" (click)="collapse($event)"></div>
  <ion-card-content class="wrapBox">
      <div class="togClass">
       <p class="font12 bodBottom">If you need a procedure, make sure you can answer these questions </p>
<ion-item>
  <ion-label>Take medication before surgery </ion-label>
  <ion-checkbox color="danger" checked="false"></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label>Stop taking medication before surgery</ion-label>
  <ion-checkbox color="danger" checked="false"></ion-checkbox>
</ion-item>
<ion-item>
  <ion-label>Wash my hair and bathe the night before surgery </ion-label>
  <ion-checkbox color="danger" checked="true"></ion-checkbox>
</ion-item>

<p class="padTop7 redLink"><a href="#">See more procedure planning resources.</a></p>
 
       </div>
   </ion-card-content>
  </ion-card>
</div>




  </ion-list>
</div>

    
    




</ion-content>
