<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Appointment Prep</ion-title>
  </ion-navbar>
</ion-header>
<div class="peopleLoadBoxHold"> 
<div class="peopleLoadBox"></div></div>
<ion-content padding class="appointPrepWraper">
    
<div class="toggleWraper">
    <ion-segment [(ngModel)]="prep">
    <ion-segment-button value="seeAll">
      See All
    </ion-segment-button>
    <ion-segment-button value="seeStar" (click)="tabStarred()">
      See Starred
    </ion-segment-button>
  </ion-segment>
 </div>

<div [ngSwitch]="prep">
  <ion-list *ngSwitchCase="'seeAll'">

<div class="headingWraper"> 
   <div class="pull-left"> <h4 class="appointLable">Diagnosis</h4></div>
   <div class="pull-right redLink"><a href="#" (click)="clearStarred()">Clear All</a></div>
</div>

<!-- TAB 1 Card for Diagnosis-->
<div class="prepWhtBox lastBoder" >
 <button ion-item *ngFor="let appointmentPrep of diagnosisData" (click)="setStarred(appointmentPrep.id)">
    <ion-icon item-left>
      <img src="assets/img/blank-star.png" *ngIf="!checkStarred(appointmentPrep.id)">
      <img src="assets/img/fill-star.png" *ngIf="checkStarred(appointmentPrep.id)">
    </ion-icon>
   {{appointmentPrep.title}}
  </button>
  </div>

<div class="headingWraper padTop10"><h4 class="appointLable">Treatment</h4></div>

<!-- TAB 1 Card for Treatment-->
<div class="prepWhtBox lastBoder1">
   <button ion-item *ngFor="let appointmentPrep of treatmentData" (click)="setStarred(appointmentPrep.id)">
    <ion-icon item-left>
       <img src="assets/img/blank-star.png" *ngIf="!checkStarred(appointmentPrep.id)">
      <img src="assets/img/fill-star.png" *ngIf="checkStarred(appointmentPrep.id)">
      </ion-icon>
   {{appointmentPrep.title}}
    </button>
  </div>

<div class="headingWraper padTop10"><h4 class="appointLable">Add Questions</h4></div>

<!-- TAB 1 Listed  Questions Box-->
<div class="prepWhtBox lastBoder1">
   <button ion-item>
    <ion-icon item-left>
      
      </ion-icon>
  
    </button>
  </div>


<!-- TAB 1 Card for Add Questions -->
<div class="prepAddQuestion">
  <ion-card >
    <ion-item>
      <ion-label class="textBlock"></ion-label>
    </ion-item>
    <div class="cardClick" (click)="collapse($event)"></div>
  <ion-card-content class="wrapBox">
      <div class="togClass">
 <ion-item class="widthInput">
       <ion-input placeholder="Type Question here"></ion-input>
  </ion-item>

    <ion-label item-right class="cardButton">
    <button class="mapRedBtn">Add</button>
    </ion-label>
 
       
       </div>
   </ion-card-content>
  </ion-card>
</div>

<!-- TAB 1 Card for Procedure Planing -->
<div class="prepPPCard">
  <ion-card>
    <ion-item>
      <ion-label class="textBlock"></ion-label>
    </ion-item>
    <div class="cardClick" (click)="collapse($event)"></div>
  <ion-card-content class="wrapBox">
      <div class="togClass">
       <p class="font12 bodBottom">If you need a procedure, make sure you can answer these questions </p>
       
<ion-item  *ngFor="let appointmentPrep of dataProPlaning">
  <ion-label> {{appointmentPrep.title}}</ion-label>
  <ion-checkbox color="danger" checked="true" (click)="setStarred(appointmentPrep.id)" *ngIf="checkStarred(appointmentPrep.id)"></ion-checkbox>
  <ion-checkbox color="danger" checked="false" (click)="setStarred(appointmentPrep.id)"  *ngIf="!checkStarred(appointmentPrep.id)"></ion-checkbox>
</ion-item>

   <p class="padTop7 redLink"><a href="#">See more procedure planning resources.</a></p>
</div>
   </ion-card-content>
  </ion-card>
</div>

  </ion-list>

  <ion-list *ngSwitchCase="'seeStar'">

    <div class="headingWraper"> 
      <div class="pull-left"> <h4 class="appointLable">Diagnosis</h4></div>
      <div class="pull-right redLink"><a href="#" (click)="clearStarred()">Clear All</a></div>
    </div>

<!-- TAB 2 Card for diagnosis -->
<div class="prepWhtBox">
 <button ion-item *ngFor="let diagnosis of diagnosisStarredData">
    <ion-icon item-left>
      <img src="assets/img/fill-star.png">
    </ion-icon>
   {{diagnosis.title}}
  </button>
 </div>

 <div class="headingWraper padTop10"> 
<h4 class="appointLable">Treatment</h4>
</div>

<!-- TAB 2 Card for TREATMENT -->
<div class="prepWhtBox">
 <button ion-item *ngFor="let treatment of treatmentStarredData">
    <ion-icon item-left>
      <img src="assets/img/fill-star.png">
    </ion-icon>
   {{treatment.title}}
  </button>
 </div>

<!-- TAB 2 Card for Procedure Planing -->
 <div class="prepPPCard">
  <ion-card>
    <ion-item>
      <ion-label class="textBlock"></ion-label>
    </ion-item>
    <div class="cardClick" (click)="collapse($event)"></div>
  <ion-card-content class="wrapBox">
      <div class="togClass">
       <p class="font12 bodBottom">If you need a procedure, make sure you can answer these questions </p>

<ion-item  *ngFor="let dataPlaning of dataProStarredPlaning">
  <ion-label> {{dataPlaning.title}}</ion-label>
  <ion-checkbox color="danger" checked="true" disabled="true"></ion-checkbox>
</ion-item>


<p class="padTop7 redLink"><a href="#">See more procedure planning resources.</a></p>
 
       </div>
   </ion-card-content>
  </ion-card>
</div>




  </ion-list>
</div>

    
    




</ion-content>
