<!--<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>LOGIN</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content padding class="loginBg">
<div class="HMLogoBox"><img src="assets/img/HMLogo.png"></div>
  <div class="loginMidBox">
   <div class="list">
           
            <label class="item item-input">
              <input type="text" placeholder="Username" class="LoginInput" ng-model="loginData.username">
            </label>
            <label class="item item-input">
              <input type="password" class="LoginInput" placeholder="Password"  ng-model="loginData.password">
            </label>
            <label class="item item-input textAlign">
              <button ion-button menuToggle class="btnRed">Log In</button>
            </label>
            <label class="item item-input textAlign">
             <span class="input-label" ><a href="#" class="loginLink">Continue as Guest</a> </span>
             </label>
              
             
          </div>
</div>
 <!-- <button ion-button secondary menuToggle>Toggle Menu</button>-->
</ion-content>
